<h2 align="center" class="type">
Title: <%= @article.title %>  
</h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4>
    <strong>Body</strong>
  </h4>
    <hr>
    <div>
      <p class="body"><%= simple_format(@article.body) %></p>
  </div>


  <% if @article.categories.any? %>
    <p>Categories: <%= render @article.categories %></p>
  <% end %>


  <div>
  
  <%= link_to "Edit This Article", edit_article_path(@article), class: "btn btn-xs btn-danger" %> 
  <%= link_to "Delete Article", article_path(@article), method: :delete, 
                                                        data: {confirm: "Are your sure you want to delete?"}, 
                                                        class: "btn btn-xs btn-danger" %>
    <%= link_to "Article Main", articles_path, class: "btn btn-xs btn-danger" %>
  
  </div>
</div>


